body {
	background: #fff;
	color: #222;
	font: 100%/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
	margin: 3em auto;
	padding: 0;
	width: 40em;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0 0.75em;
}
p {
	margin: 0;
	padding: 0 0 1.5em;
}
