<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Server Error</title>

	<style type="text/css" media="screen">
		body{background:#fff;color:#222;font:100%/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;margin:3em auto;padding:0;width:40em}
		h1{font-size:2em;line-height:1.5em;padding:0 0 0.75em}
		p{margin:0;padding:0 0 1.5em}
	</style>

</head>
<body>

	<h1>HTTP 500: Internal Server Error</h1>
	<p>Something went wrong.</p>

</body>
</html>
